$colorBlue: #0d1221;
$colorYellow: #edcc67;

.progress-background {
  --progress-background: #edcc67;
  --background: #0d1221;
}

@mixin altar-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-blue {
  color: $colorBlue;
}

.progress {
  padding: 2vw 10vw;
}

.text-little {
  font-size: 8px;
}

.altar div:nth-child(1) img {
  @include altar-absolute;
  width: 75vw;
  animation: turn 60s linear infinite;
  //animation-delay: 1s;
  z-index: 1;
}

.altar div:nth-child(2) img {
  @include altar-absolute;
  width: 53vw;
  animation: turn-left 40s linear infinite;
  //animation-delay: 1s;
  z-index: 2;
}

.altar div:nth-child(3) img {
  @include altar-absolute;
  width: 56vw;
  animation: turn 60s linear infinite;
  //animation-delay: 1s;
  z-index: 3;
}

.altar div:nth-child(4) img {
  @include altar-absolute;
  //left: -100px;
  width: 28vw;
  //animation: cover 1s forwards;
  animation-delay: 1s;
  z-index: 5;
  transition: transform 0.6s ease 0.1s;
  transform-style: preserve-3d;
}

.altar div:nth-child(5) img {
  @include altar-absolute;
  //left: 100%;
  width: 28vw;
  //animation: cover 1s forwards;
  animation-delay: 1s;
  z-index: 5;
  transition: transform 0.6s ease 0.1s;
  transform-style: preserve-3d;
}

.altar div:nth-child(4) div:nth-child(2) {
  @include altar-absolute;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px #fff, -10px 0 25px #f0f, 10px 0 25px #0ff, inset 0 0 15px #fff, inset 15px 0 25px #f0f, inset -15px 0 25px #0ff, inset 15px 0 100px #f0f, inset -15px 0 100px #0ff;
  animation: pulsate 6s linear infinite;
  animation-delay: 2.5s;
  border-radius: 50%;
  z-index: 4;
}

*, *::before, *::after {
  box-sizing: border-box
}

html, body {
  height: 100%
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  background-color: #000
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 10px #fff, 10px 0 25px #f0f, -10px 0 25px #0ff, inset 0 0 15px #fff, inset -15px 0 25px #f0f, inset 15px 0 25px #0ff, inset -15px 0 100px #f0f, inset 15px 0 100px #0ff
  }
}

.content-ion {
  background: url("../img/background.png");
  background-size: 100%;
  height: 100vh;
}

.heard-bg {
  --background: initial !important;
  background: initial !important;
  --ion-color-base: initial !important;
}

.axe-progress {
  height: 12px;
  padding: 12px 32px;
}

.start-btn {
  width: 30vw;
  height: 30vw;
  color: #fff;
  border: #00ffff 1px solid;
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 12vw 0;
  animation: bigAssButtonPulse 3s linear infinite alternate;
  box-shadow: 0 0 15px #0ff;
}

@mixin show-text {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  color: #fff;
  text-shadow: 0 0 3px #0ff;
  font-size: 24px;
  letter-spacing: 5px;
  border: 1px solid #0ff;
  border-radius: 5px;
  box-shadow: 0 0 3px #0ff;
}

.ne-text {
  top: calc(66vh + 36px);
  font-weight: 600;
  font-family: Epilogue, sans-serif;
  padding: 6px 5px 2px;
  @include show-text
}

.nonce-text {
  bottom: 2px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  padding: 3px;
  //box-shadow: 0 0 3px #fff;
  //border: 1px solid #0ff;
  //border-radius: 5px;
  width: 80vw;
  font-weight: 600;
  text-align: center;
  font-family: Epilogue, sans-serif;
}

.nonce-span {
  color: #fff;
  text-shadow: 0 0 3px #fff;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: Epilogue, sans-serif;
  //animation: nonce-an 1s linear infinite;
}

@keyframes nonce-an {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

@keyframes bigAssButtonPulse {
  from {
    box-shadow: 0 0 15px #0ff;
  }
  to {
    box-shadow: 0 0 25px #f0f;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.1, 0.1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.3, 0.3);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1, 1);
    left: 50%;
  }
}

@keyframes turn {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes turn-left {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(-270deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.progress-background {
  height: 6px;
}

.epoch-modal{
  --width: 90%;
  --height: 80%;
  --border-radius: 15px;
  --background:#fff;
  //opacity: 0.9;
}
.epoch-md .close{
  float: right;
  padding: 10px 12px;
  //width: 100%;
}
.btn-bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.font-weight-800{
  font-weight: 800;
}

.modal-header{
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  padding: 12px
}

.epoch-desc{
  padding: 12px;
}

.epoch-desc .ctx{
  width: 100%;
  border-radius: 0.375em;
  border: 2px dashed #e2e8f0;
  min-height: 100px;
  margin: 12px 0 0;
  padding: 12px;
}