.progress-background {
  --progress-background: #edcc67;
  --background: #0d1221;
}

.color-blue {
  color: #0d1221;
}

.progress {
  padding: 12px 48px;
}

.text-little {
  font-size: 8px;
}

.altar div:nth-child(1) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  animation: turn 60s linear infinite;
  z-index: 1;
}

.altar div:nth-child(2) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53vw;
  animation: turn-left 40s linear infinite;
  z-index: 2;
}

.altar div:nth-child(3) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56vw;
  animation: turn 60s linear infinite;
  z-index: 3;
}

.altar div:nth-child(4) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: -100px;
  width: 28vw;
  animation: slide 1s forwards;
  animation-delay: 1s;
  z-index: 5;
}

.altar div:nth-child(5) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 100%;
  width: 28vw;
  animation: slide 1s forwards;
  animation-delay: 1s;
  z-index: 5;
}

.altar div:nth-child(4) div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px #fff, -10px 0 25px #f0f, 10px 0 25px #0ff, inset 0 0 15px #fff, inset 15px 0 25px #f0f, inset -15px 0 25px #0ff, inset 15px 0 100px #f0f, inset -15px 0 100px #0ff;
  animation: pulsate 6s linear infinite;
  animation-delay: 2.5s;
  border-radius: 50%;
  z-index: 4;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  background-color: #000;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 10px #fff, 10px 0 25px #f0f, -10px 0 25px #0ff, inset 0 0 15px #fff, inset -15px 0 25px #f0f, inset 15px 0 25px #0ff, inset -15px 0 100px #f0f, inset 15px 0 100px #0ff;
  }
}
.content-ion {
  background: url("../img/background.png");
  background-size: 100%;
  height: 100vh;
}

.heard-bg {
  --background: initial !important;
  background: initial !important;
  --ion-color-base: initial !important;
}

.axe-progress {
  height: 12px;
  padding: 12px 32px;
}

.start-btn {
  width: 100px;
  height: 100px;
  color: #fff;
  border: #00ffff 1px solid;
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 40px 0;
  animation: bigAssButtonPulse 3s linear infinite alternate;
  box-shadow: 0 0 15px #0ff;
}

@keyframes bigAssButtonPulse {
  from {
    box-shadow: 0 0 15px #0ff;
  }
  to {
    box-shadow: 0 0 25px #f0f;
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.1, 0.1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.3, 0.3);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1, 1);
    left: 50%;
  }
}
@keyframes turn {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes turn-left {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(-270deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/*# sourceMappingURL=index.css.map */
