.k-line-chart-dark {
    position: relative;
    height: 100%;
    background-color: #1e2126;
    transition: all .5s;
}

.top-bar-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    height: 38px;
    color: #929aa5;
    border-bottom: 1px solid #393a3e;
    padding: 0 20px 0 12px;
}

.top-bar-dark .top-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
}

div, span {
    box-sizing: border-box;
    color: #fff;
}

.top-bar-dark .top-bar-item-selected {
    color: #2196f3!important;
    font-weight: 700;
}

.top-bar-dark .top-bar-icon-item {
    padding: 0 4px;
}

.top-bar-dark .top-bar-split-line {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
    width: 1px;
    background-color: #393a3e;
}

.top-bar-dark .top-bar-icon-item .top-bar-icon {
    display: inline-block;
    font-size: 18px;
    margin-right: 6px;
}

.top-bar-dark .top-bar-icon-item .top-bar-icon {
    display: inline-block;
    font-size: 18px;
    margin-right: 6px;
}

.k-line-chart-dark .k-line-chart-container {
    height: calc(100% - 38px);
}

.chart-widget {
    width: 100%;
    height: 100%;
    position: relative;
}

.tools-dark {
    width: 48px;
    height: 100%;
    border-right: 1px solid #393a3e;
}
.col {
    flex-direction: column;
}